DB_HOST=YOUR HOST
DB_USERNAME=YOUR USERNAME
DB_PASSWORD=YOUR PASSWORD
DB_NAME=YOUR DATABASE
DB_PORT=YOUR PORT
EMAIL_HOST=YOUR EMAIL HSOT
EMAIL_USERNAME=YOUR EMAIL USERNAME
EMAIL_PASSWORD=YOUR PASSWORD
EMAIL_PORT=YOUR PORT
NAME=SENDER NAME