host=YOUR HOST
username=YOUR USERNAME
password=YOUR PASSWORD
dbname=YOUR DATABASE
port=YOUR PORT
emailhost=YOUR EMAIL HSOT
emailusername=YOUR EMAIL USERNAME
emailpassword=YOUR PASSWORD
emailport=YOUR PORT
name=SENDER NAME